@()
@views.html.template.main("Советы и подсказки, прохождение", "hints") {
    <div class="container" id="center-container">
        <div class="container-hints font-hints">
            <h3>Эта страница содержит различные советы и подсказки, которые сделают процесс игры в GTA V более продуктивным и занимательным. Это не читы, а стратегии, следуя которым вы можете стать лучшим игроком.</h3>
            <br>
            <h4>Получаем  халяву и скидки</h4>
            <img class="leftimg img-max-width" src="@routes.Assets.at("images/91.jpg")" alt="" width="400">  <br>
            <p>Lifeinvader – это эквивалент Facebook’a в GTA 5.  Stalk – это эквивалент фэйсбуковского  Like  в Lifeinvader.</p>
            <p>Определенные магазины в игре предлагают скидки или бесплатный товар за проставление stalk’a – “лайка” магазину на его странице в Lifeinvader.</p><br><br><br><br><br>
            <ul>Ниже приведен список известных в настоящее время вещей  и скидок, которые вы можете бесплатно получить за stalk:
                <li>Stalk на странице Elitas Travel дает Вам скидку в 10 % от первой покупки на elitastravel.com</li>
                <li>Stalk на странице Herr Kutz Barber дает Вам бесплатную стрижку при первом посещении этой сети парикмахерских</li>
                <li>Stalk на странице InkInc  обеспечит Вам бесплатную татуировку на выбор</li>
                <li>Stalk на странице Legendary Motorsport дает Вам скидку в 10 % при первой покупке через их онлайн-шоурум</li>
                <li>Stalk на странице Los Santos Customs обеспечивает Вам бесплатную покраску любого транспортного средства</li>
                <li>Stalk на странице Redwood Cigarettes дает вам скидку в 10 % при первом посещении любого госпиталя</li>
                <li>Stalk на странице Sprunk, естественно, обеспечит вам бесплатную баночку напитка Sprunk</li>
                <li> И, наконец, stalk на странице Warstock Cache & Carry дает Вам скидку в 10 % от первой покупки в магазине.</li>
            </ul><br>
            <h4>Постоянная скидка в магазинах сети “Амму-нация” (Ammunation)</h4>
                <img class="leftimg img-max-width" src="@routes.Assets.at("images/GTA-V-Ammu-nation.jpg")" alt="" width="400"><br>
            <p>Во всех магазинах “Амму-нация” доступна скидка в 25 %, и доступна она уже с того момента как Вы только начали игру. Итак, чтоб получить скидку, проследуйте в любой магазин “Амму-нация”, войдите внутрь и пройдите к стрельбищу. Далее, заработайте золотые медали во всех испытаниях. В худшем случае это займет 20 минут. Как только Вы получите последнее ‘золото’, Вам станет доступна постоянная скидка в 25%, она сохранится и будет действовать во всех магазинах “Амму-нация”.<p><br><br>
            <h4>Бесплатные улучшения для оружия</h4>
                <p>Апгрейды для оружия получить совсем не трудно, и Вы можете получить их бесплатно. Будучи на выполнении миссии, зайдите в  “Амму-нацию” и купите все оружие, какое можете себе позволить, в том числе и гранату, если, конечно, у Вас её еще нет. Покиньте магазин, а затем взорвите себя с помощью гранаты.  Это и правда настолько просто.  Миссия будет провалена, но, как только вы начнете заново, апгрейды будут целы и все деньги, потраченные на оружие, будут возвращены.</p><br>
                <h4>Сам себе не по зубам / Out Of Your Depth</h4>
                <p>Out Of Your Depth – это достижение на Xbox 360 и трофей на PS3, очень важная штука, которую можно заработать, убив акулу или, наоборот, став ее добычей. Итак, получить это достижение (трофей) достаточно просто. Найдите лодку или водные лыжи и плывите до тех пор, пока вода не станет темно-синей. Там, где вода темно-синяя – и есть глубокое место в океане, где водятся акулы. Покатайтесь по этой темной воде пока на мини-карте не появится красный значок. Этот значок и есть акула. Теперь осталось только прыгнуть в воду и убить акулу или подождать пока она не съест Вас. </p>
        </div>
    </div>
}